pre {
    padding: 16px;
    overflow: auto;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.17);
}

:not(pre) > code {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 2px 4px;
}

.token.important {
    font-weight: bold;
    color: #d14146;
}

img {
    max-width: 100%;
}

.font-marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

.show-print {
    display: none;
}

.hide-print {
    display: block;
}
